<?php
$productLabelHelper = $this->helper(Module\ProductLabel\Helper\ProductLabelHelper::class);
$_product = $productLabelHelper->getProduct();
$productLableAttributes = explode(',', $productLabelHelper->getProductLabelSelect($_product));
?>
<div class="product_lable">
    <?php
        foreach ($productLableAttributes as $attr) {
          echo '<span class="lable"><strong>' . $productLabelHelper->getFrontendValue($attr) . '</strong></span>';  
        }
    ?>
</div>
